:deep(.el-drawer__header) {
  width: 480px;
  height: 60px;
  background: #fff4eb;
  box-shadow: 0px 2px 4px 0px rgba(169, 40, 40, 0.14);
  padding: 0;
}
:deep(.el-drawer__close-btn:hover i) {
  color: #730101;
}
// :deep(.el-drawer.ltr, .el-drawer.rtl) {
//   top: 33%;
// }
