:deep(.el-pagination.is-background .el-pager li) {
  background-color: transparent;
  font-size: 14px;
  color: #4e5969;
  font-weight: 400;
}
:deep(.el-pagination.is-background .el-pager li.is-active) {
  background-color: #efe5e5;
  font-size: 14px;
  color: #670101;
  font-weight: 400;
  border-radius: 4px;
  width: 36px;
  height: 36px;
}
:deep(.el-pagination.is-background .btn-next) {
  background-color: transparent;
}
:deep(.el-pagination.is-background .btn-prev) {
  background-color: transparent;
}
:deep(.el-pagination .el-select .el-input) {
  height: 36px;
  border-radius: 4px;
}
:deep(.el-pagination__editor.el-input) {
  border-radius: 4px;
  //   width: 40px;
}
:deep(.el-pagination__total) {
  font-size: 14px;
  color: #670101;
  font-weight: 400;
}
:deep(.el-pagination .el-input__inner) {
  font-size: 14px;
  color: #670101;
  font-weight: 400;
}
:deep(.el-pagination__jump) {
  font-size: 14px;
  color: #670101;
  font-weight: 400;
}

:deep(.el-pagination .el-input__wrapper) {
  box-shadow: 0 0 0 1px #e3cccc inset;
  border-radius: 4px;
}
:deep(.el-pagination .el-select-dropdown .el-select-dropdown__item.selected) {
  color: #670101;
}
