:deep(.el-table th.el-table__cell.is-leaf) {
  border-bottom: 1px solid #dabdbd;
  border-right: 1px solid #dabdbd;
  background-color: #faf5f5;
}
:deep(.el-table td.el-table__cell) {
  border-bottom: 1px solid #dabdbd;
  border-right: 1px solid #dabdbd;
}
:deep(.el-table__inner-wrapper::after) {
  background-color: transparent;
}
:deep(.el-table__border-left-patch) {
  background-color: transparent;
}
:deep(.el-table) {
  border-radius: 10px;
  border: 1px solid #dabdbd;
}
